In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import round, col

spark = SparkSession.builder.getOrCreate()

df = spark.read.csv('orders.csv', header=True, schema='id int, order int, total float')
df = df.groupBy('id')\
    .sum('total')\
    .withColumnRenamed('sum(total)', 'total')

df.select('id', round(df['total'], 2))\
    .withColumnRenamed('round(total, 2)', 'total')\
    .show()

+---+-------+
| id|  total|
+---+-------+
| 31|4765.05|
| 85|5503.43|
| 65|5140.35|
| 53| 4945.3|
| 78|4524.51|
| 34| 5330.8|
| 81|5112.71|
| 28|5000.71|
| 76|4904.21|
| 27|4915.89|
| 26| 5250.4|
| 44|4756.89|
| 12|4664.59|
| 91|4642.26|
| 22|5019.45|
| 93|5265.75|
| 47| 4316.3|
|  1| 4958.6|
| 52|5245.06|
| 13|4367.62|
+---+-------+
only showing top 20 rows